In [1]:
import pandas as pd
import random

cities_df = pd.read_csv('cities.tsv', sep='\t', header=None)
cities_df.columns = ['name', 'interest', 'longitude', 'latitude']


routes_df = pd.read_csv('routes.tsv', sep='\t', header=None)
routes_df.columns = ['from_city', 'to_city', 'travel_time', 'cost']

print(cities_df.head())
print(routes_df.head())

        name  interest     longitude      latitude
0   Alicante  0.602388 -5.434292e+04  4.628085e+06
1  Amsterdam  0.726813  5.447535e+05  6.867808e+06
2     Ancona  0.598182  1.504716e+06  5.406364e+06
3    Antalya  0.598325  3.417006e+06  4.425311e+06
4     Athens  0.732723  2.641423e+06  4.577157e+06
  from_city     to_city  travel_time    cost
0  Alicante   Amsterdam        10500   28.99
1  Alicante        Bari         8400  133.99
2  Alicante     Belfast        11400   99.99
3  Alicante  Birmingham         9900   58.99
4  Alicante    Bordeaux         5700   70.99

In [ ]:
def get_possible_routes(current_city, total, limits):
    possible_routes = routes_df[
        (routes_df['from_city'] == current_city) &
        (routes_df['travel_time'] + total['time'] <= limits['time']) &
        (routes_df['cost'] + total['cost'] <= limits['cost'])
    ]

    return possible_routes

In [13]:
def get_route(time_limit, cost_limit, next_route_func):
    current_city = random.choice(routes_df['from_city'].unique())
    route = [current_city]
    visited_cities = set(route)
    total = {
        "time": 0,
        "cost": 0
    }
    limits = {
        "time": time_limit,
        "cost": cost_limit
    }
    interest_of_cities = []
    while True:
        possible_routes = get_possible_routes(current_city, total, limits)
        if possible_routes.empty:
            break

        next_route = next_route_func(possible_routes, visited_cities)
        
        current_city = next_route['to_city']
        if current_city not in visited_cities:
            interest_of_cities.append(cities_df[cities_df['name'] == current_city]['interest'].values[0])

        visited_cities = set(route)
        route.append(current_city)
        total['time'] += next_route['travel_time']
        total['cost'] += next_route['cost']

    print("visited cities", visited_cities)
    print("interest of cities array", interest_of_cities)
    print("Route:", " -> ".join(route))
    print("Total Travel Time:", total['time'])
    print("Total Cost:", total['cost'])

    return interest_of_cities

In [20]:
cost_limits = [50, 200, 500, 1000, 10000]
time_limits = [3, 5, 10, 20, 100]
results_df = pd.DataFrame(index=[cost_limits], columns=[time_limits])

def get_results(next_route_func, N=100):
    for cost_limit in cost_limits:
        for time_limit in time_limits:
            interest_scores = []
            for _ in range(N):
                time_limit_s = time_limit * 3600
                interest_of_cities = get_route(time_limit_s, cost_limit, next_route_func)
                interest_scores.append(sum(interest_of_cities))

            avg = sum(interest_scores) / len(interest_scores)
            std_deviation = (sum((x - avg) ** 2 for x in interest_scores) / len(interest_scores)) ** 0.5
            results_df.loc[cost_limit, time_limit] = f"avg: {avg:.2f}, std: {std_deviation:.2f}"

    return results_df

def random_route(possible_routes, _):
    return possible_routes.sample(1).iloc[0]

random_res = get_results(random_route)
random_res.to_csv('random_res.csv')

visited cities {'Genoa'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Genoa -> London
Total Travel Time: 7800
Total Cost: 37.99
visited cities {'Stockholm', 'Malmoe'}
interest of cities array [np.float64(0.740175301943447), np.float64(0.6645405979969531)]
Route: Malmoe -> Stockholm -> Poznan
Total Travel Time: 10800
Total Cost: 47.1174
visited cities {'Lille'}
interest of cities array [np.float64(0.6682142268493704)]
Route: Lille -> Toulouse
Total Travel Time: 5400
Total Cost: 40.15
visited cities {'Katowice', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.694769776448509)]
Route: Katowice -> Milan -> Zagreb
Total Travel Time: 10800
Total Cost: 30.1462
visited cities {'Madrid'}
interest of cities array [np.float64(0.7068062387577692)]
Route: Madrid -> Turin
Total Travel Time: 7500
Total Cost: 28.99
visited cities {'Tallinn'}
interest of cities array [np.float64(0.6614009527445156)]
Route: Tallinn -> Nuernberg
Total Travel Time: 8700
Total Cost: 30.99
visited cities {'Split'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Split -> Amsterdam
Total Travel Time: 8400
Total Cost: 49.36
visited cities {'Debrecen'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Debrecen -> Paris
Total Travel Time: 8880
Total Cost: 24.6054
visited cities {'Thessaloniki'}
interest of cities array [np.float64(0.7015285450330992)]
Route: Thessaloniki -> Bucharest
Total Travel Time: 4500
Total Cost: 35.99
visited cities {'Bologna'}
interest of cities array [np.float64(0.7006323589104861)]
Route: Bologna -> Cologne
Total Travel Time: 6000
Total Cost: 22.39
visited cities {'Leeds'}
interest of cities array [np.float64(0.6665944463333944)]
Route: Leeds -> Riga
Total Travel Time: 9600
Total Cost: 27.3858
visited cities {'Varna'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Varna -> Dortmund
Total Travel Time: 10320
Total Cost: 25.0177
visited cities {'Plovdiv'}
interest of cities array []
Route: Plovdiv
Total Travel Time: 0
Total Cost: 0
visited cities {'Bologna'}
interest of cities array [np.float64(0.7015285450330992)]
Route: Bologna -> Bucharest
Total Travel Time: 7500
Total Cost: 40.39
visited cities {'Rennes'}
interest of cities array [np.float64(0.662676330560633)]
Route: Rennes -> Nice
Total Travel Time: 6600
Total Cost: 41.65
visited cities {'Sofia'}
interest of cities array [np.float64(0.769412325825045)]
Route: Sofia -> Vienna
Total Travel Time: 5700
Total Cost: 41.99
visited cities {'Perugia', 'Catania'}
interest of cities array [np.float64(0.6121226378988357), np.float64(0.6187183212532693)]
Route: Perugia -> Catania -> Bari
Total Travel Time: 9000
Total Cost: 34.56
visited cities {'Timisoara'}
interest of cities array [np.float64(0.7435649969503182)]
Route: Timisoara -> Barcelona
Total Travel Time: 9660
Total Cost: 24.2736
visited cities {'Krakow', 'Szczecin'}
interest of cities array [np.float64(0.6936604637257605), np.float64(0.7390652078701349)]
Route: Szczecin -> Krakow -> Milan
Total Travel Time: 10200
Total Cost: 48.9982
visited cities {'Manchester'}
interest of cities array [np.float64(0.6039505210664337)]
Route: Manchester -> Eindhoven
Total Travel Time: 5100
Total Cost: 46.7776
visited cities {'Rennes'}
interest of cities array [np.float64(0.6913775965432666)]
Route: Rennes -> Lyon
Total Travel Time: 4800
Total Cost: 37.15
visited cities {'Kosice'}
interest of cities array [np.float64(0.6707510142855765)]
Route: Kosice -> Liverpool
Total Travel Time: 10800
Total Cost: 14.99
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Nice', 'Toulouse'}
interest of cities array [np.float64(0.6682142268493704), np.float64(0.7390652078701349)]
Route: Nice -> Toulouse -> Milan
Total Travel Time: 9600
Total Cost: 49.04
visited cities {'Venice', 'Marseille'}
interest of cities array [np.float64(0.7110194898827333)]
Route: Marseille -> Venice -> Marseille
Total Travel Time: 10200
Total Cost: 49.980000000000004
visited cities {'Katowice'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Katowice -> Dortmund
Total Travel Time: 6300
Total Cost: 36.0137
visited cities {'Alicante'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Alicante -> Manchester
Total Travel Time: 10800
Total Cost: 25.49
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7435649969503182), np.float64(0.6740050666982947)]
Route: Rome -> Barcelona -> Bordeaux
Total Travel Time: 10500
Total Cost: 37.23
visited cities {'Alicante'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Alicante -> London
Total Travel Time: 9900
Total Cost: 35.99
visited cities {'Pisa'}
interest of cities array [np.float64(0.6027765351066747)]
Route: Pisa -> Cagliari
Total Travel Time: 4200
Total Cost: 39.59
visited cities {'London', 'Szczecin'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.7006323589104861)]
Route: Szczecin -> London -> Cologne
Total Travel Time: 10800
Total Cost: 45.0398
visited cities {'Naples', 'Sofia'}
interest of cities array [np.float64(0.589158597141107), np.float64(0.5977223445051995)]
Route: Naples -> Sofia -> Varna
Total Travel Time: 9000
Total Cost: 44.98
visited cities {'London'}
interest of cities array [np.float64(0.6936604637257605)]
Route: London -> Krakow
Total Travel Time: 8760
Total Cost: 18.2477
visited cities {'Leeds'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Leeds -> Vilnius
Total Travel Time: 9900
Total Cost: 28.457
visited cities {'Sofia'}
interest of cities array [np.float64(0.7408438350115745)]
Route: Sofia -> Budapest
Total Travel Time: 4800
Total Cost: 41.99
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Naples', 'Palermo'}
interest of cities array [np.float64(0.7093506544188203), np.float64(0.6936604637257605)]
Route: Palermo -> Naples -> Krakow
Total Travel Time: 10200
Total Cost: 48.879999999999995
visited cities {'Cagliari'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Cagliari -> Madrid
Total Travel Time: 8100
Total Cost: 43.99
visited cities {'Timisoara'}
interest of cities array [np.float64(0.7435649969503182)]
Route: Timisoara -> Barcelona
Total Travel Time: 9660
Total Cost: 24.2736
visited cities {'Valencia'}
interest of cities array [np.float64(0.7068062387577692)]
Route: Valencia -> Turin
Total Travel Time: 6900
Total Cost: 41.99
visited cities {'Marseille'}
interest of cities array [np.float64(0.7149698324141975)]
Route: Marseille -> Lisbon
Total Travel Time: 8400
Total Cost: 26.99
visited cities {'Madrid'}
interest of cities array [np.float64(0.6775296450907791)]
Route: Madrid -> Brussels
Total Travel Time: 8400
Total Cost: 47.99
visited cities {'Timisoara'}
interest of cities array [np.float64(0.7435649969503182)]
Route: Timisoara -> Barcelona
Total Travel Time: 9660
Total Cost: 24.2736
visited cities {'Hamburg'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Hamburg -> Dublin
Total Travel Time: 7500
Total Cost: 19.99
visited cities {'Genoa'}
interest of cities array [np.float64(0.6121226378988357)]
Route: Genoa -> Catania
Total Travel Time: 6300
Total Cost: 40.69
visited cities {'Cluj-napoca'}
interest of cities array [np.float64(0.6356626598338024)]
Route: Cluj-napoca -> Malmoe
Total Travel Time: 7800
Total Cost: 20.194
visited cities {'Genoa', 'Vienna'}
interest of cities array [np.float64(0.769412325825045)]
Route: Genoa -> Vienna -> Genoa
Total Travel Time: 10800
Total Cost: 43.73
visited cities {'Sevilla'}
interest of cities array [np.float64(0.7093506544188203)]
Route: Sevilla -> Naples
Total Travel Time: 9900
Total Cost: 47.99
visited cities {'Geneva'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Geneva -> Rome
Total Travel Time: 5700
Total Cost: 37.12
visited cities {'Valencia'}
interest of cities array [np.float64(0.7068062387577692)]
Route: Valencia -> Turin
Total Travel Time: 6900
Total Cost: 41.99
visited cities {'Rome'}
interest of cities array [np.float64(0.6727219708132042)]
Route: Rome -> Bratislava
Total Travel Time: 6000
Total Cost: 16.99
visited cities {'Sevilla'}
interest of cities array [np.float64(0.6251844833316963)]
Route: Sevilla -> Porto
Total Travel Time: 4200
Total Cost: 48.99
visited cities {'London'}
interest of cities array [np.float64(0.658692247236834)]
Route: London -> Gdansk
Total Travel Time: 7200
Total Cost: 28.8038
visited cities {'Genoa'}
interest of cities array [np.float64(0.6121226378988357)]
Route: Genoa -> Catania
Total Travel Time: 6300
Total Cost: 40.69
visited cities {'Dresden'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Dresden -> London
Total Travel Time: 6900
Total Cost: 38.99
visited cities {'Kosice'}
interest of cities array [np.float64(0.6707510142855765)]
Route: Kosice -> Liverpool
Total Travel Time: 10800
Total Cost: 14.99
visited cities {'Lublin', 'Gdansk'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.7255256463088224)]
Route: Lublin -> Gdansk -> Hamburg
Total Travel Time: 9000
Total Cost: 31.5387
visited cities {'Sofia'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Sofia -> Paris
Total Travel Time: 10800
Total Cost: 27.99
visited cities {'Sofia'}
interest of cities array [np.float64(0.6775296450907791)]
Route: Sofia -> Brussels
Total Travel Time: 9900
Total Cost: 45.1205
visited cities {'Nice'}
interest of cities array [np.float64(0.6532037863087654)]
Route: Nice -> Lille
Total Travel Time: 6000
Total Cost: 37.05
visited cities {'Leeds'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Leeds -> Dublin
Total Travel Time: 3600
Total Cost: 41.2998
visited cities {'Liverpool'}
interest of cities array [np.float64(0.6335961344555369)]
Route: Liverpool -> Kaunas
Total Travel Time: 10200
Total Cost: 33.012
visited cities {'Brussels'}
interest of cities array [np.float64(0.7149698324141975)]
Route: Brussels -> Lisbon
Total Travel Time: 10200
Total Cost: 34.49
visited cities {'Lyon'}
interest of cities array [np.float64(0.6430886552278882)]
Route: Lyon -> Nantes
Total Travel Time: 4500
Total Cost: 33.6
visited cities {'Turin'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Turin -> Paris
Total Travel Time: 5700
Total Cost: 37.99
visited cities {'Naples'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Naples -> Madrid
Total Travel Time: 9900
Total Cost: 44.39
visited cities {'Tallinn'}
interest of cities array [np.float64(0.6614009527445156)]
Route: Tallinn -> Nuernberg
Total Travel Time: 8700
Total Cost: 30.99
visited cities {'Nice'}
interest of cities array [np.float64(0.7110194898827333)]
Route: Nice -> Venice
Total Travel Time: 4200
Total Cost: 40.55
visited cities {'Poznan'}
interest of cities array [np.float64(0.6707510142855765)]
Route: Poznan -> Liverpool
Total Travel Time: 8400
Total Cost: 36.0137
visited cities {'Vilnius'}
interest of cities array [np.float64(0.6614009527445156)]
Route: Vilnius -> Nuernberg
Total Travel Time: 7500
Total Cost: 40.99
visited cities {'Bologna'}
interest of cities array [np.float64(0.7015285450330992)]
Route: Bologna -> Bucharest
Total Travel Time: 7500
Total Cost: 40.39
visited cities {'Milan', 'Cologne'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.7435649969503182)]
Route: Cologne -> Milan -> Barcelona
Total Travel Time: 10800
Total Cost: 44.629999999999995
visited cities {'Manchester'}
interest of cities array [np.float64(0.6775296450907791)]
Route: Manchester -> Brussels
Total Travel Time: 4800
Total Cost: 38.7892
visited cities {'Dublin'}
interest of cities array [np.float64(0.769412325825045)]
Route: Dublin -> Vienna
Total Travel Time: 9900
Total Cost: 38.99
visited cities {'Rennes'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Rennes -> London
Total Travel Time: 4200
Total Cost: 35.65
visited cities {'Rijeka'}
interest of cities array []
Route: Rijeka
Total Travel Time: 0
Total Cost: 0
visited cities {'Tours', 'Marseille'}
interest of cities array [np.float64(0.6813768937556641), np.float64(0.6740050666982947)]
Route: Tours -> Marseille -> Bordeaux
Total Travel Time: 9000
Total Cost: 47.0
visited cities {'Nimes'}
interest of cities array []
Route: Nimes
Total Travel Time: 0
Total Cost: 0
visited cities {'Dresden'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Dresden -> London
Total Travel Time: 6900
Total Cost: 38.99
visited cities {'Nice'}
interest of cities array [np.float64(0.6707510142855765)]
Route: Nice -> Liverpool
Total Travel Time: 8400
Total Cost: 45.55
visited cities {'Lisbon', 'Valencia'}
interest of cities array [np.float64(0.6688714022950969), np.float64(0.6682142268493704)]
Route: Lisbon -> Valencia -> Toulouse
Total Travel Time: 10200
Total Cost: 45.98
visited cities {'Nuernberg'}
interest of cities array [np.float64(0.5977223445051995)]
Route: Nuernberg -> Varna
Total Travel Time: 8880
Total Cost: 24.99
visited cities {'Katowice'}
interest of cities array [np.float64(0.71373169654299)]
Route: Katowice -> Oslo
Total Travel Time: 8100
Total Cost: 43.1201
visited cities {'Rennes'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Rennes -> London
Total Travel Time: 4200
Total Cost: 35.65
visited cities {'Katowice'}
interest of cities array [np.float64(0.7006323589104861)]
Route: Katowice -> Cologne
Total Travel Time: 6300
Total Cost: 31.8881
visited cities {'Warsaw'}
interest of cities array [np.float64(0.6397596853910299)]
Route: Warsaw -> Bristol
Total Travel Time: 9900
Total Cost: 34.0731
visited cities {'Varna', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.6936604637257605)]
Route: Varna -> Vienna -> Krakow
Total Travel Time: 10200
Total Cost: 48.23
visited cities {'Krakow', 'Szczecin'}
interest of cities array [np.float64(0.6936604637257605)]
Route: Szczecin -> Krakow -> Szczecin
Total Travel Time: 8400
Total Cost: 43.159
visited cities {'Plovdiv'}
interest of cities array []
Route: Plovdiv
Total Travel Time: 0
Total Cost: 0
visited cities {'Thessaloniki'}
interest of cities array [np.float64(0.7093506544188203)]
Route: Thessaloniki -> Naples
Total Travel Time: 5700
Total Cost: 38.99
visited cities {'Thessaloniki'}
interest of cities array [np.float64(0.6727219708132042)]
Route: Thessaloniki -> Bratislava
Total Travel Time: 6300
Total Cost: 32.99
visited cities {'Porto'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Porto -> Dortmund
Total Travel Time: 9900
Total Cost: 48.99
visited cities {'Poznan'}
interest of cities array [np.float64(0.6288010623341473)]
Route: Poznan -> Leeds
Total Travel Time: 8100
Total Cost: 46.6687
visited cities {'Dortmund'}
interest of cities array [np.float64(0.7408438350115745)]
Route: Dortmund -> Budapest
Total Travel Time: 6660
Total Cost: 34.99
visited cities {'Malaga'}
interest of cities array [np.float64(0.6251844833316963)]
Route: Malaga -> Porto
Total Travel Time: 5400
Total Cost: 40.39
visited cities {'Rome'}
interest of cities array [np.float64(0.6680028776021347)]
Route: Rome -> Sevilla
Total Travel Time: 9900
Total Cost: 47.99
visited cities {'Poznan', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.694769776448509)]
Route: Poznan -> Milan -> Zagreb
Total Travel Time: 10800
Total Cost: 35.0518
visited cities {'Gothenborg'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Gothenborg -> London
Total Travel Time: 6900
Total Cost: 17.1926
visited cities {'Genoa'}
interest of cities array [np.float64(0.6121226378988357)]
Route: Genoa -> Catania
Total Travel Time: 6300
Total Cost: 40.69
visited cities {'Malaga'}
interest of cities array [np.float64(0.6397596853910299)]
Route: Malaga -> Bristol
Total Travel Time: 10200
Total Cost: 49.49
visited cities {'Hamburg'}
interest of cities array [np.float64(0.6767042570635242)]
Route: Hamburg -> Edinburgh
Total Travel Time: 6600
Total Cost: 41.39
visited cities {'Szczecin'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Szczecin -> Dublin
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Valencia'}
interest of cities array [np.float64(0.6251844833316963)]
Route: Valencia -> Porto
Total Travel Time: 5700
Total Cost: 48.99
visited cities {'Hamburg', 'Gdansk'}
interest of cities array [np.float64(0.7255256463088224), np.float64(0.7015896071732729)]
Route: Gdansk -> Hamburg -> Dublin
Total Travel Time: 12600
Total Cost: 43.2178
visited cities {'Perugia', 'Palermo'}
interest of cities array [np.float64(0.6561148171447915), np.float64(0.6767042570635242)]
Route: Perugia -> Palermo -> Edinburgh
Total Travel Time: 17400
Total Cost: 30.979999999999997
visited cities {'Split'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Split -> Geneva
Total Travel Time: 6000
Total Cost: 26.36
visited cities {'Geneva'}
interest of cities array [np.float64(0.6561148171447915)]
Route: Geneva -> Palermo
Total Travel Time: 6600
Total Cost: 39.28
visited cities {'Sofia', 'Nuernberg'}
interest of cities array [np.float64(0.6614009527445156)]
Route: Sofia -> Nuernberg -> Sofia
Total Travel Time: 14700
Total Cost: 44.290000000000006
visited cities {'Lodz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Lodz -> London
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Sofia', 'Paris'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.6813768937556641)]
Route: Sofia -> Paris -> Marseille
Total Travel Time: 16200
Total Cost: 40.08
visited cities {'Poznan', 'Liverpool'}
interest of cities array [np.float64(0.6707510142855765), np.float64(0.8317101715588673)]
Route: Poznan -> Liverpool -> Paris
Total Travel Time: 13200
Total Cost: 47.4323
visited cities {'Edinburgh', 'Pisa'}
interest of cities array [np.float64(0.6767042570635242), np.float64(0.6774943933978278)]
Route: Pisa -> Edinburgh -> Gothenborg
Total Travel Time: 16800
Total Cost: 43.698899999999995
visited cities {'Thessaloniki'}
interest of cities array [np.float64(0.7390652078701349)]
Route: Thessaloniki -> Milan
Total Travel Time: 7800
Total Cost: 48.99
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7435649969503182), np.float64(0.62612005641941)]
Route: Rome -> Barcelona -> Pisa
Total Travel Time: 11400
Total Cost: 42.629999999999995
visited cities {'Birmingham', 'Poznan'}
interest of cities array [np.float64(0.6734272656139734), np.float64(0.6901567984925614)]
Route: Poznan -> Birmingham -> Geneva
Total Travel Time: 14700
Total Cost: 38.834199999999996
visited cities {'Brussels', 'Bordeaux'}
interest of cities array [np.float64(0.6775296450907791), np.float64(0.7149698324141975)]
Route: Bordeaux -> Brussels -> Lisbon
Total Travel Time: 15900
Total Cost: 44.480000000000004
visited cities {'Budapest', 'Pisa'}
interest of cities array [np.float64(0.7408438350115745), np.float64(0.7110194898827333)]
Route: Pisa -> Budapest -> Venice
Total Travel Time: 10800
Total Cost: 44.909000000000006
visited cities {'Lyon'}
interest of cities array [np.float64(0.6767042570635242)]
Route: Lyon -> Edinburgh
Total Travel Time: 7800
Total Cost: 34.6
visited cities {'Bologna'}
interest of cities array [np.float64(0.7366192757766009)]
Route: Bologna -> Warsaw
Total Travel Time: 7320
Total Cost: 44.99
visited cities {'Riga', 'Venice'}
interest of cities array [np.float64(0.7110194898827333), np.float64(0.6187183212532693)]
Route: Riga -> Venice -> Bari
Total Travel Time: 14100
Total Cost: 44.18
visited cities {'Trieste'}
interest of cities array [np.float64(0.6121226378988357)]
Route: Trieste -> Catania
Total Travel Time: 6000
Total Cost: 47.07
visited cities {'Bordeaux', 'Porto'}
interest of cities array [np.float64(0.6251844833316963), np.float64(0.6817187195894088)]
Route: Bordeaux -> Porto -> Manchester
Total Travel Time: 14700
Total Cost: 46.34

In [5]:
def get_travel_time(df, from_city, to_city):
    return df[
        (df['from_city'] == from_city) & 
        (df['to_city'] == to_city)
    ]['travel_time'].values[0]

def get_cost(df, from_city, to_city):
    return df[
        (df['from_city'] == from_city) & 
        (df['to_city'] == to_city)
    ]['cost'].values[0]

In [19]:
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()

std_city_df = pd.DataFrame()
std_city_df['name'] = cities_df['name']
std_city_df['interest'] = standard_scaler.fit_transform(cities_df[['interest']]) 

std_routes_df = pd.DataFrame()
std_routes_df['from_city'] = routes_df['from_city']
std_routes_df['to_city'] = routes_df['to_city']
std_routes_df['travel_time'] = standard_scaler.fit_transform(routes_df[['travel_time']])
std_routes_df['cost'] = standard_scaler.fit_transform(routes_df[['cost']])
std_city_df = std_city_df.set_index('name')

std_routes_df['greedy_score'] = std_routes_df.apply(
    lambda row: std_city_df.loc[row['to_city'], 'interest'] - row['travel_time'] - row['cost'], axis=1
)

def find_best_greedy_route(possible_routes, visited_cities):
    merged_df = possible_routes.merge(
        std_routes_df[['from_city', 'to_city', 'greedy_score']],
        on=['from_city', 'to_city'],
        how='inner',
    )

    filtered_merged_df = merged_df[~merged_df['to_city'].isin(visited_cities)]

    max_greedy_idx = None
    if not filtered_merged_df.empty:
        merged_df = filtered_merged_df
        max_greedy_idx = merged_df['greedy_score'].idxmax()
    else:
        max_greedy_idx = merged_df.sample(1).index[0]
    
    max_row = merged_df.loc[max_greedy_idx]

    return possible_routes[
        (possible_routes['from_city'] == max_row['from_city']) & 
        (possible_routes['to_city'] == max_row['to_city'])
    ].iloc[0]

greedy_res = get_results(find_best_greedy_route)
greedy_res.to_csv('greedy_res.csv')

visited cities {'Karlsruhe', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.7006323589104861)]
Route: Karlsruhe -> London -> Cologne
Total Travel Time: 9600
Total Cost: 49.7938
visited cities {'Karlsruhe', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.7006323589104861)]
Route: Karlsruhe -> London -> Cologne
Total Travel Time: 9600
Total Cost: 49.7938
visited cities {'Lublin', 'Gdansk'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.769412325825045)]
Route: Lublin -> Gdansk -> Vienna
Total Travel Time: 9300
Total Cost: 23.6498
visited cities {'Bratislava', 'Rome'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Bratislava -> Rome -> Palermo
Total Travel Time: 9900
Total Cost: 45.76
visited cities {'Geneva'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Geneva -> Paris
Total Travel Time: 4200
Total Cost: 39.28
visited cities {'Milan', 'Barcelona'}
interest of cities array [np.float64(0.7435649969503182), np.float64(0.6740050666982947)]
Route: Milan -> Barcelona -> Bordeaux
Total Travel Time: 9900
Total Cost: 39.23
visited cities {'Alicante'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Alicante -> London
Total Travel Time: 9900
Total Cost: 35.99
visited cities {'Oslo'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Oslo -> Vilnius
Total Travel Time: 6600
Total Cost: 26.1129
visited cities {'Geneva'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Geneva -> Paris
Total Travel Time: 4200
Total Cost: 39.28
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Bydgoszcz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Bydgoszcz -> London
Total Travel Time: 7500
Total Cost: 47.0901
visited cities {'Rennes'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Rennes -> London
Total Travel Time: 4200
Total Cost: 35.65
visited cities {'Karlsruhe', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.7006323589104861)]
Route: Karlsruhe -> London -> Cologne
Total Travel Time: 9600
Total Cost: 49.7938
visited cities {'Hamburg'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Hamburg -> London
Total Travel Time: 5400
Total Cost: 41.99
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Barcelona -> Rome -> Palermo
Total Travel Time: 10500
Total Cost: 46.76
visited cities {'Bremen', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.6430886552278882)]
Route: Bremen -> London -> Nantes
Total Travel Time: 10200
Total Cost: 47.0612
visited cities {'Nimes'}
interest of cities array []
Route: Nimes
Total Travel Time: 0
Total Cost: 0
visited cities {'Stockholm', 'Malmoe'}
interest of cities array [np.float64(0.740175301943447), np.float64(0.7366192757766009)]
Route: Malmoe -> Stockholm -> Warsaw
Total Travel Time: 10800
Total Cost: 48.9799
visited cities {'Genoa', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.7390652078701349)]
Route: Genoa -> Vienna -> Milan
Total Travel Time: 10200
Total Cost: 37.73
visited cities {'Dortmund'}
interest of cities array [np.float64(0.7408438350115745)]
Route: Dortmund -> Budapest
Total Travel Time: 6660
Total Cost: 34.99
visited cities {'Rome', 'Bari'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.769412325825045)]
Route: Bari -> Rome -> Vienna
Total Travel Time: 10200
Total Cost: 48.28
visited cities {'Ancona'}
interest of cities array []
Route: Ancona
Total Travel Time: 0
Total Cost: 0
visited cities {'Brussels'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Brussels -> Rome
Total Travel Time: 6900
Total Cost: 28.99
visited cities {'London'}
interest of cities array [np.float64(0.8317101715588673)]
Route: London -> Paris
Total Travel Time: 4500
Total Cost: 38.31
visited cities {'Marseille'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Marseille -> Paris
Total Travel Time: 6000
Total Cost: 36.07
visited cities {'Rome', 'Bari'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.769412325825045)]
Route: Bari -> Rome -> Vienna
Total Travel Time: 10200
Total Cost: 48.28
visited cities {'Warsaw', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.7390652078701349)]
Route: Warsaw -> Vienna -> Milan
Total Travel Time: 9600
Total Cost: 37.964
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Athens'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Athens -> Rome
Total Travel Time: 8700
Total Cost: 33.99
visited cities {'Cluj-napoca'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Cluj-napoca -> Rome
Total Travel Time: 7020
Total Cost: 24.2758
visited cities {'Catania'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Catania -> Rome
Total Travel Time: 5100
Total Cost: 39.59
visited cities {'Gothenborg'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Gothenborg -> London
Total Travel Time: 6900
Total Cost: 17.1926
visited cities {'Brussels'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Brussels -> Rome
Total Travel Time: 6900
Total Cost: 28.99
visited cities {'Milan', 'Cologne'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.7435649969503182)]
Route: Cologne -> Milan -> Barcelona
Total Travel Time: 10800
Total Cost: 44.629999999999995
visited cities {'Brussels'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Brussels -> Rome
Total Travel Time: 6900
Total Cost: 28.99
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Barcelona -> Rome -> Palermo
Total Travel Time: 10500
Total Cost: 46.76
visited cities {'Birmingham', 'Dublin'}
interest of cities array [np.float64(0.7015896071732729), np.float64(0.8307827616237295)]
Route: Birmingham -> Dublin -> London
Total Travel Time: 8100
Total Cost: 36.2261
visited cities {'Lublin', 'Gdansk'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.769412325825045)]
Route: Lublin -> Gdansk -> Vienna
Total Travel Time: 9300
Total Cost: 23.6498
visited cities {'Edinburgh'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Edinburgh -> London
Total Travel Time: 4500
Total Cost: 46.71
visited cities {'Lisbon', 'Sevilla'}
interest of cities array [np.float64(0.7149698324141975), np.float64(0.6688714022950969)]
Route: Sevilla -> Lisbon -> Valencia
Total Travel Time: 9600
Total Cost: 44.98
visited cities {'Warsaw', 'Stockholm'}
interest of cities array [np.float64(0.7366192757766009), np.float64(0.769412325825045)]
Route: Stockholm -> Warsaw -> Vienna
Total Travel Time: 10800
Total Cost: 32.3684
visited cities {'Turin'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Turin -> Paris
Total Travel Time: 5700
Total Cost: 37.99
visited cities {'Rome', 'Sofia'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Sofia -> Rome -> Palermo
Total Travel Time: 10800
Total Cost: 44.96
visited cities {'Turin'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Turin -> Paris
Total Travel Time: 5700
Total Cost: 37.99
visited cities {'Bydgoszcz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Bydgoszcz -> London
Total Travel Time: 7500
Total Cost: 47.0901
visited cities {'Paris'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Paris -> London
Total Travel Time: 4500
Total Cost: 36.55
visited cities {'Marseille'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Marseille -> Paris
Total Travel Time: 6000
Total Cost: 36.07
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Birmingham', 'Dublin'}
interest of cities array [np.float64(0.7015896071732729), np.float64(0.8307827616237295)]
Route: Birmingham -> Dublin -> London
Total Travel Time: 8100
Total Cost: 36.2261
visited cities {'Bilbao'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Bilbao -> Geneva
Total Travel Time: 5700
Total Cost: 26.49
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Nimes'}
interest of cities array []
Route: Nimes
Total Travel Time: 0
Total Cost: 0
visited cities {'Rome', 'Bari'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.769412325825045)]
Route: Bari -> Rome -> Vienna
Total Travel Time: 10200
Total Cost: 48.28
visited cities {'Geneva'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Geneva -> Paris
Total Travel Time: 4200
Total Cost: 39.28
visited cities {'Bilbao'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Bilbao -> Geneva
Total Travel Time: 5700
Total Cost: 26.49
visited cities {'Timisoara', 'Venice'}
interest of cities array [np.float64(0.7110194898827333), np.float64(0.6813768937556641)]
Route: Timisoara -> Venice -> Marseille
Total Travel Time: 10620
Total Cost: 31.0646
visited cities {'Marseille'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Marseille -> Paris
Total Travel Time: 6000
Total Cost: 36.07
visited cities {'Zurich'}
interest of cities array []
Route: Zurich
Total Travel Time: 0
Total Cost: 0
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Rome', 'Bari'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.769412325825045)]
Route: Bari -> Rome -> Vienna
Total Travel Time: 10200
Total Cost: 48.28
visited cities {'Zagreb'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Zagreb -> Paris
Total Travel Time: 7800
Total Cost: 35.99
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Katowice'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Katowice -> London
Total Travel Time: 8700
Total Cost: 41.3455
visited cities {'Marseille'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Marseille -> Paris
Total Travel Time: 6000
Total Cost: 36.07
visited cities {'Rome', 'Budapest'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Budapest -> Rome -> Palermo
Total Travel Time: 9900
Total Cost: 49.9443
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Barcelona -> Rome -> Palermo
Total Travel Time: 10500
Total Cost: 46.76
visited cities {'Poitiers'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Poitiers -> London
Total Travel Time: 5100
Total Cost: 38.99
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Barcelona -> Rome -> Palermo
Total Travel Time: 10500
Total Cost: 46.76
visited cities {'Manchester', 'Paris'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.6813768937556641)]
Route: Manchester -> Paris -> Marseille
Total Travel Time: 10800
Total Cost: 39.629999999999995
visited cities {'Rome', 'Budapest'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Budapest -> Rome -> Palermo
Total Travel Time: 9900
Total Cost: 49.9443
visited cities {'Malaga'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Malaga -> Paris
Total Travel Time: 9600
Total Cost: 27.49
visited cities {'Rennes'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Rennes -> London
Total Travel Time: 4200
Total Cost: 35.65
visited cities {'Hamburg'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Hamburg -> London
Total Travel Time: 5400
Total Cost: 41.99
visited cities {'Madrid', 'Porto'}
interest of cities array [np.float64(0.7580703794097986), np.float64(0.7149698324141975)]
Route: Porto -> Madrid -> Lisbon
Total Travel Time: 9600
Total Cost: 43.48
visited cities {'Genoa', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.7390652078701349)]
Route: Genoa -> Vienna -> Milan
Total Travel Time: 10200
Total Cost: 37.73
visited cities {'Marseille'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Marseille -> Paris
Total Travel Time: 6000
Total Cost: 36.07
visited cities {'Nice', 'Paris'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.6813768937556641)]
Route: Nice -> Paris -> Marseille
Total Travel Time: 10800
Total Cost: 49.14
visited cities {'Vilnius'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Vilnius -> London
Total Travel Time: 10200
Total Cost: 19.99
visited cities {'Lodz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Lodz -> London
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Gothenborg'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Gothenborg -> London
Total Travel Time: 6900
Total Cost: 17.1926
visited cities {'Madrid', 'Porto'}
interest of cities array [np.float64(0.7580703794097986), np.float64(0.7149698324141975)]
Route: Porto -> Madrid -> Lisbon
Total Travel Time: 9600
Total Cost: 43.48
visited cities {'Lyon'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Lyon -> Rome
Total Travel Time: 5700
Total Cost: 42.35
visited cities {'Rijeka'}
interest of cities array []
Route: Rijeka
Total Travel Time: 0
Total Cost: 0
visited cities {'Paris'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Paris -> London
Total Travel Time: 4500
Total Cost: 36.55
visited cities {'Athens'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Athens -> Rome
Total Travel Time: 8700
Total Cost: 33.99
visited cities {'Madrid', 'Porto'}
interest of cities array [np.float64(0.7580703794097986), np.float64(0.7149698324141975)]
Route: Porto -> Madrid -> Lisbon
Total Travel Time: 9600
Total Cost: 43.48
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Palermo'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Palermo -> Rome
Total Travel Time: 4200
Total Cost: 39.59
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.6561148171447915)]
Route: Barcelona -> Rome -> Palermo
Total Travel Time: 10500
Total Cost: 46.76
visited cities {'Thessaloniki'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Thessaloniki -> Rome
Total Travel Time: 6000
Total Cost: 35.99
visited cities {'Madrid', 'Porto'}
interest of cities array [np.float64(0.7580703794097986), np.float64(0.7149698324141975)]
Route: Porto -> Madrid -> Lisbon
Total Travel Time: 9600
Total Cost: 43.48
visited cities {'Belfast', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.6430886552278882)]
Route: Belfast -> London -> Nantes
Total Travel Time: 9600
Total Cost: 44.3612
visited cities {'Palermo'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Palermo -> Rome
Total Travel Time: 4200
Total Cost: 39.59
visited cities {'Genoa', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.7390652078701349)]
Route: Genoa -> Vienna -> Milan
Total Travel Time: 10200
Total Cost: 37.73
visited cities {'Lisbon'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Lisbon -> Madrid
Total Travel Time: 4500
Total Cost: 32.99
visited cities {'Bucharest'}
interest of cities array [np.float64(0.7390652078701349)]
Route: Bucharest -> Milan
Total Travel Time: 8400
Total Cost: 14.99
visited cities {'Lille', 'Bordeaux'}
interest of cities array [np.float64(0.6740050666982947), np.float64(0.7390652078701349)]
Route: Lille -> Bordeaux -> Milan
Total Travel Time: 10500
Total Cost: 44.14
visited cities {'Dresden'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Dresden -> London
Total Travel Time: 6900
Total Cost: 38.99
visited cities {'Dubrovnik'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Dubrovnik -> Geneva
Total Travel Time: 6600
Total Cost: 28.86
visited cities {'Naples', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.8317101715588673)]
Route: Naples -> Vienna -> Paris
Total Travel Time: 13500
Total Cost: 49.98
visited cities {'Gdansk', 'Vienna'}
interest of cities array [np.float64(0.769412325825045), np.float64(0.8317101715588673)]
Route: Gdansk -> Vienna -> Paris
Total Travel Time: 12600
Total Cost: 42.8289
visited cities {'Eindhoven'}
interest of cities array [np.float64(0.7896107180689524)]
Route: Eindhoven -> Rome
Total Travel Time: 7800
Total Cost: 39.24
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Split'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Split -> London
Total Travel Time: 9300
Total Cost: 33.86
visited cities {'Ancona'}
interest of cities array []
Route: Ancona
Total Travel Time: 0
Total Cost: 0
visited cities {'Rome'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Rome -> Paris
Total Travel Time: 7500
Total Cost: 41.99
visited cities {'Copenhagen', 'Paris'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.6813768937556641)]
Route: Copenhagen -> Paris -> Marseille
Total Travel Time: 12900
Total Cost: 38.78
visited cities {'Rome', 'Budapest'}
interest of cities array [np.float64(0.7896107180689524), np.float64(0.769412325825045)]
Route: Budapest -> Rome -> Vienna
Total Travel Time: 12300
Total Cost: 48.964299999999994
visited cities {'Split'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Split -> London
Total Travel Time: 9300
Total Cost: 33.86
visited cities {'Gothenborg', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.7896107180689524)]
Route: Gothenborg -> London -> Rome
Total Travel Time: 15300
Total Cost: 42.2714
visited cities {'Paris', 'Krakow'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.7068062387577692)]
Route: Krakow -> Paris -> Turin
Total Travel Time: 13500
Total Cost: 47.84
visited cities {'Lille', 'Bordeaux'}
interest of cities array [np.float64(0.6740050666982947), np.float64(0.7390652078701349)]
Route: Lille -> Bordeaux -> Milan
Total Travel Time: 10500
Total Cost: 44.14
visited cities {'Tours', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.6430886552278882)]
Route: Tours -> London -> Nantes
Total Travel Time: 9900
Total Cost: 46.211200000000005
visited cities {'Bristol', 'Paris'}
interest of cities array [np.float64(0.8317101715588673), np.float64(0.6813768937556641)]
Route: Bristol -> Paris -> Marseille
Total Travel Time: 10500
Total Cost: 42.03
visited cities {'Plovdiv'}
interest of cities array []
Route: Plovdiv
Total Travel Time: 0
Total Cost: 0
visited cities {'Riga', 'Helsinki'}
interest of cities array [np.float64(0.7385004519116767), np.float64(0.8307827616237295)]
Route: Riga -> Helsinki -> London
Total Travel Time: 15300
Total Cost: 48.980000000000004
visited cities {'London'}
interest of cities array [np.float64(0.8317101715588673)]
Route: London -> Paris

In [27]:
import numpy as np
import time

def exploit(q_table_df, current_city, possible_routes):
    if q_table_df.loc[current_city, possible_routes['to_city']].max() == 0:
        return possible_routes.sample(1).iloc[0]['to_city']

    return  q_table_df.loc[current_city, possible_routes['to_city']].idxmax()
    

def q_learning(config, limits):
    q_table_df = pd.DataFrame(np.zeros((len(cities_df), len(cities_df))), index=cities_df['name'], columns=cities_df['name'])
    alpha = config['learning_rate']
    gamma = config['discount_factor']

    for _ in range(config['num_episodes']):
        current_city = random.choice(cities_df['name'])
        total_time = 0
        total_cost = 0
        epsilon = config['exploration_rate']
        momentum = config['exploration_momentum']
        # visited_cities = []
        # print("Episode:", _)

        while True:
            possible_routes = get_possible_routes(current_city, {'time': total_time, 'cost': total_cost}, limits)
            # possible_routes = possible_routes[~possible_routes['to_city'].isin(visited_cities)]
            if possible_routes.empty:
                break

            if np.random.uniform(0, 1) < epsilon:
                next_city = possible_routes.sample(1).iloc[0]['to_city']
            else:
                next_city = exploit(q_table_df, current_city, possible_routes)
            
            # if next_city not in visited_cities:
            #     visited_cities.append(next_city)

            interest = cities_df[cities_df['name'] == next_city]['interest'].values[0]
            time = get_travel_time(routes_df, current_city, next_city)
            cost = get_cost(routes_df, current_city, next_city)
            total_time += time
            total_cost += cost 

            possible_routes_for_next_city = get_possible_routes(next_city, {'time': total_time, 'cost': total_cost}, limits)
            if possible_routes_for_next_city.empty:
                break

            next_max_q_score = q_table_df.loc[next_city, possible_routes_for_next_city['to_city']].max()
            curr_max_q_score = q_table_df.loc[current_city, next_city]
            
            new_value = (1 - alpha) * curr_max_q_score + alpha * (interest + gamma * next_max_q_score)
            # print('setting new value', new_value, 'for', current_city, next_city)
            q_table_df.loc[current_city, next_city] = new_value

            current_city = next_city
            epsilon = epsilon * momentum

        
    return q_table_df

qconfig = {
    "learning_rate": 0.1,
    "discount_factor": 0.9,
    "exploration_rate": 0.5,
    "exploration_momentum": 0.9,
    "num_episodes": 1000
}

start_time = time.time()
q_table = q_learning(qconfig, {"cost": 10000, "time": 36000})
end_time = time.time()

print(f"Q-learning execution time: {end_time - start_time} seconds")

def find_best_q_route(possible_routes, visited_cities):
    filtered_routes = possible_routes[~possible_routes['to_city'].isin(visited_cities)]
    if not filtered_routes.empty:
        possible_routes = filtered_routes

    best_route = q_table.loc[possible_routes.iloc[0]['from_city'], possible_routes['to_city']].idxmax()
    # print('best route found', possible_routes[possible_routes['to_city'] == best_route].iloc[0])
    # print('possible_routes_were:' , q_table.loc[possible_routes.iloc[0]['from_city'], possible_routes['to_city']])
    return possible_routes[possible_routes['to_city'] == best_route].iloc[0]

q_table_res = get_results(find_best_q_route)
q_table_res.to_csv('q_table_res.csv')

Q-learning execution time: 27.022998094558716 seconds
visited cities {'Copenhagen', 'Gdansk'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.6705586482688143)]
Route: Copenhagen -> Gdansk -> Vilnius
Total Travel Time: 8400
Total Cost: 33.8298
visited cities {'Oslo'}
interest of cities array [np.float64(0.6936604637257605)]
Route: Oslo -> Krakow
Total Travel Time: 7980
Total Cost: 25.2517
visited cities {'Prague'}
interest of cities array [np.float64(0.6767042570635242)]
Route: Prague -> Edinburgh
Total Travel Time: 8700
Total Cost: 48.4498
visited cities {'Gdansk', 'Malmoe'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.71373169654299)]
Route: Malmoe -> Gdansk -> Oslo
Total Travel Time: 9780
Total Cost: 47.873200000000004
visited cities {'Kosice'}
interest of cities array [np.float64(0.7434914632787466)]
Route: Kosice -> Prague
Total Travel Time: 4500
Total Cost: 48.99
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Pisa', 'Barcelona'}
interest of cities array [np.float64(0.62612005641941), np.float64(0.7408438350115745)]
Route: Barcelona -> Pisa -> Budapest
Total Travel Time: 10800
Total Cost: 43.510000000000005
visited cities {'Pisa', 'Barcelona'}
interest of cities array [np.float64(0.62612005641941), np.float64(0.7408438350115745)]
Route: Barcelona -> Pisa -> Budapest
Total Travel Time: 10800
Total Cost: 43.510000000000005
visited cities {'Lublin'}
interest of cities array [np.float64(0.6039505210664337)]
Route: Lublin -> Eindhoven
Total Travel Time: 7740
Total Cost: 25.3588
visited cities {'Bydgoszcz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Bydgoszcz -> London
Total Travel Time: 7500
Total Cost: 47.0901
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Tours'}
interest of cities array [np.float64(0.6251844833316963)]
Route: Tours -> Porto
Total Travel Time: 7200
Total Cost: 23.39
visited cities {'Dubrovnik'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Dubrovnik -> Amsterdam
Total Travel Time: 9300
Total Cost: 31.36
visited cities {'Madrid', 'Marseille'}
interest of cities array [np.float64(0.6813768937556641), np.float64(0.6740050666982947)]
Route: Madrid -> Marseille -> Bordeaux
Total Travel Time: 10800
Total Cost: 33.46
visited cities {'Rijeka'}
interest of cities array []
Route: Rijeka
Total Travel Time: 0
Total Cost: 0
visited cities {'Nimes'}
interest of cities array []
Route: Nimes
Total Travel Time: 0
Total Cost: 0
visited cities {'Geneva'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Geneva -> Amsterdam
Total Travel Time: 6300
Total Cost: 39.81
visited cities {'Hamburg'}
interest of cities array [np.float64(0.658692247236834)]
Route: Hamburg -> Gdansk
Total Travel Time: 4860
Total Cost: 49.99
visited cities {'Katowice'}
interest of cities array [np.float64(0.7327228082131961)]
Route: Katowice -> Athens
Total Travel Time: 8400
Total Cost: 49.5242
visited cities {'Bratislava'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Bratislava -> Manchester
Total Travel Time: 9300
Total Cost: 30.99
visited cities {'Tallinn'}
interest of cities array [np.float64(0.6614009527445156)]
Route: Tallinn -> Nuernberg
Total Travel Time: 8700
Total Cost: 30.99
visited cities {'Lodz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Lodz -> London
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Bari', 'Timisoara'}
interest of cities array [np.float64(0.6018846703191765), np.float64(0.7110194898827333)]
Route: Bari -> Timisoara -> Venice
Total Travel Time: 10740
Total Cost: 29.0646
visited cities {'Varna'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Varna -> Dortmund
Total Travel Time: 10320
Total Cost: 25.0177
visited cities {'Riga'}
interest of cities array [np.float64(0.769412325825045)]
Route: Riga -> Vienna
Total Travel Time: 7200
Total Cost: 44.99
visited cities {'Toulouse'}
interest of cities array [np.float64(0.7093506544188203)]
Route: Toulouse -> Naples
Total Travel Time: 6900
Total Cost: 47.99
visited cities {'Sevilla', 'Rabat'}
interest of cities array [np.float64(0.6680028776021347), np.float64(0.6023883698285825)]
Route: Rabat -> Sevilla -> Alicante
Total Travel Time: 8100
Total Cost: 37.5914
visited cities {'Bristol'}
interest of cities array [np.float64(0.6500238353643837)]
Route: Bristol -> Belfast
Total Travel Time: 4200
Total Cost: 44.31
visited cities {'Sofia'}
interest of cities array [np.float64(0.769412325825045)]
Route: Sofia -> Vienna
Total Travel Time: 5700
Total Cost: 41.99
visited cities {'Lisbon'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Lisbon -> Manchester
Total Travel Time: 10800
Total Cost: 49.49
visited cities {'Dubrovnik'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Dubrovnik -> Amsterdam
Total Travel Time: 9300
Total Cost: 31.36
visited cities {'Szczecin'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Szczecin -> Dublin
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Geneva'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Geneva -> Amsterdam
Total Travel Time: 6300
Total Cost: 39.81
visited cities {'Geneva'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Geneva -> Amsterdam
Total Travel Time: 6300
Total Cost: 39.81
visited cities {'Palermo'}
interest of cities array [np.float64(0.6913775965432666)]
Route: Palermo -> Lyon
Total Travel Time: 6900
Total Cost: 44.99
visited cities {'Rome', 'Barcelona'}
interest of cities array [np.float64(0.7435649969503182), np.float64(0.6740050666982947)]
Route: Rome -> Barcelona -> Bordeaux
Total Travel Time: 10500
Total Cost: 37.23
visited cities {'Bratislava'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Bratislava -> Manchester
Total Travel Time: 9300
Total Cost: 30.99
visited cities {'Catania'}
interest of cities array [np.float64(0.6027765351066747)]
Route: Catania -> Cagliari
Total Travel Time: 4800
Total Cost: 49.49
visited cities {'Bilbao'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Bilbao -> Geneva
Total Travel Time: 5700
Total Cost: 26.49
visited cities {'Bordeaux', 'Lyon'}
interest of cities array [np.float64(0.6740050666982947), np.float64(0.6775296450907791)]
Route: Lyon -> Bordeaux -> Brussels
Total Travel Time: 9900
Total Cost: 44.09
visited cities {'Bremen', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.6008539624210449)]
Route: Bremen -> London -> Poitiers
Total Travel Time: 10500
Total Cost: 49.8571
visited cities {'Manchester', 'Dublin'}
interest of cities array [np.float64(0.7015896071732729), np.float64(0.8307827616237295)]
Route: Manchester -> Dublin -> London
Total Travel Time: 7800
Total Cost: 28.237699999999997
visited cities {'Dresden'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Dresden -> London
Total Travel Time: 6900
Total Cost: 38.99
visited cities {'Newcastle', 'Dublin'}
interest of cities array [np.float64(0.7015896071732729), np.float64(0.8307827616237295)]
Route: Newcastle -> Dublin -> London
Total Travel Time: 8400
Total Cost: 38.5085
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Debrecen'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Debrecen -> Paris
Total Travel Time: 8880
Total Cost: 24.6054
visited cities {'Debrecen'}
interest of cities array [np.float64(0.8317101715588673)]
Route: Debrecen -> Paris
Total Travel Time: 8880
Total Cost: 24.6054
visited cities {'Porto'}
interest of cities array [np.float64(0.6251117378386865)]
Route: Porto -> Rennes
Total Travel Time: 6900
Total Cost: 20.49
visited cities {'Naples', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.6682142268493704)]
Route: Naples -> Milan -> Toulouse
Total Travel Time: 10800
Total Cost: 39.55
visited cities {'Geneva'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Geneva -> Amsterdam
Total Travel Time: 6300
Total Cost: 39.81
visited cities {'Geneva'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Geneva -> Amsterdam
Total Travel Time: 6300
Total Cost: 39.81
visited cities {'Trieste'}
interest of cities array [np.float64(0.6027765351066747)]
Route: Trieste -> Cagliari
Total Travel Time: 5400
Total Cost: 34.09
visited cities {'Valencia'}
interest of cities array [np.float64(0.6027765351066747)]
Route: Valencia -> Cagliari
Total Travel Time: 6000
Total Cost: 32.99
visited cities {'Sevilla'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Sevilla -> Manchester
Total Travel Time: 10200
Total Cost: 45.99
visited cities {'Copenhagen', 'Gdansk'}
interest of cities array [np.float64(0.658692247236834), np.float64(0.6705586482688143)]
Route: Copenhagen -> Gdansk -> Vilnius
Total Travel Time: 8400
Total Cost: 33.8298
visited cities {'Vienna'}
interest of cities array [np.float64(0.7093506544188203)]
Route: Vienna -> Naples
Total Travel Time: 6000
Total Cost: 48.99
visited cities {'Zagreb'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Zagreb -> Dortmund
Total Travel Time: 6300
Total Cost: 31.99
visited cities {'Athens'}
interest of cities array [np.float64(0.6936604637257605)]
Route: Athens -> Krakow
Total Travel Time: 8700
Total Cost: 41.99
visited cities {'Plovdiv'}
interest of cities array []
Route: Plovdiv
Total Travel Time: 0
Total Cost: 0
visited cities {'Oslo'}
interest of cities array [np.float64(0.6936604637257605)]
Route: Oslo -> Krakow
Total Travel Time: 7980
Total Cost: 25.2517
visited cities {'Luxemburg', 'Marseille'}
interest of cities array [np.float64(0.7282786757940397), np.float64(0.8307827616237295)]
Route: Marseille -> Luxemburg -> London
Total Travel Time: 10200
Total Cost: 45.19
visited cities {'Naples', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.6682142268493704)]
Route: Naples -> Milan -> Toulouse
Total Travel Time: 10800
Total Cost: 39.55
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Antalya'}
interest of cities array []
Route: Antalya
Total Travel Time: 0
Total Cost: 0
visited cities {'Lodz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Lodz -> London
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Luxemburg', 'Marseille'}
interest of cities array [np.float64(0.7282786757940397), np.float64(0.8307827616237295)]
Route: Marseille -> Luxemburg -> London
Total Travel Time: 10200
Total Cost: 45.19
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Bristol'}
interest of cities array [np.float64(0.6500238353643837)]
Route: Bristol -> Belfast
Total Travel Time: 4200
Total Cost: 44.31
visited cities {'Palermo'}
interest of cities array [np.float64(0.6913775965432666)]
Route: Palermo -> Lyon
Total Travel Time: 6900
Total Cost: 44.99
visited cities {'Venice'}
interest of cities array [np.float64(0.740175301943447)]
Route: Venice -> Stockholm
Total Travel Time: 9600
Total Cost: 41.99
visited cities {'Amsterdam'}
interest of cities array [np.float64(0.7015896071732729)]
Route: Amsterdam -> Dublin
Total Travel Time: 6300
Total Cost: 43.59
visited cities {'Sevilla'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Sevilla -> Manchester
Total Travel Time: 10200
Total Cost: 45.99
visited cities {'Lodz'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Lodz -> London
Total Travel Time: 8400
Total Cost: 44.5377
visited cities {'Bordeaux', 'Lyon'}
interest of cities array [np.float64(0.6740050666982947), np.float64(0.6775296450907791)]
Route: Lyon -> Bordeaux -> Brussels
Total Travel Time: 9900
Total Cost: 44.09
visited cities {'Rijeka'}
interest of cities array []
Route: Rijeka
Total Travel Time: 0
Total Cost: 0
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Lisbon'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Lisbon -> Manchester
Total Travel Time: 10800
Total Cost: 49.49
visited cities {'Birmingham'}
interest of cities array [np.float64(0.6705586482688143)]
Route: Birmingham -> Vilnius
Total Travel Time: 10200
Total Cost: 37.6984
visited cities {'Cagliari'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Cagliari -> Madrid
Total Travel Time: 8100
Total Cost: 43.99
visited cities {'Lublin'}
interest of cities array [np.float64(0.6039505210664337)]
Route: Lublin -> Eindhoven
Total Travel Time: 7740
Total Cost: 25.3588
visited cities {'Luxemburg', 'Marseille'}
interest of cities array [np.float64(0.7282786757940397), np.float64(0.8307827616237295)]
Route: Marseille -> Luxemburg -> London
Total Travel Time: 10200
Total Cost: 45.19
visited cities {'Zurich'}
interest of cities array []
Route: Zurich
Total Travel Time: 0
Total Cost: 0
visited cities {'Karlsruhe'}
interest of cities array [np.float64(0.6187183212532693)]
Route: Karlsruhe -> Bari
Total Travel Time: 6900
Total Cost: 24.39
visited cities {'Edinburgh'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Edinburgh -> Geneva
Total Travel Time: 7800
Total Cost: 34.72
visited cities {'Cagliari', 'Bologna'}
interest of cities array [np.float64(0.6027765351066747), np.float64(0.7390652078701349)]
Route: Bologna -> Cagliari -> Milan
Total Travel Time: 10500
Total Cost: 47.72
visited cities {'Zurich'}
interest of cities array []
Route: Zurich
Total Travel Time: 0
Total Cost: 0
visited cities {'Poitiers'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Poitiers -> London
Total Travel Time: 5100
Total Cost: 38.99
visited cities {'London', 'Dublin'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.8317101715588673)]
Route: Dublin -> London -> Paris
Total Travel Time: 8700
Total Cost: 48.300000000000004
visited cities {'Dubrovnik'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Dubrovnik -> Amsterdam
Total Travel Time: 9300
Total Cost: 31.36
visited cities {'Dubrovnik'}
interest of cities array [np.float64(0.7268132567757605)]
Route: Dubrovnik -> Amsterdam
Total Travel Time: 9300
Total Cost: 31.36
visited cities {'Varna'}
interest of cities array [np.float64(0.6363640173746088)]
Route: Varna -> Dortmund
Total Travel Time: 10320
Total Cost: 25.0177
visited cities {'Bucharest'}
interest of cities array [np.float64(0.6913775965432666)]
Route: Bucharest -> Lyon
Total Travel Time: 9780
Total Cost: 20.194
visited cities {'Genoa'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Genoa -> London
Total Travel Time: 7800
Total Cost: 37.99
visited cities {'London'}
interest of cities array [np.float64(0.8317101715588673)]
Route: London -> Paris
Total Travel Time: 4500
Total Cost: 38.31
visited cities {'Bilbao'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Bilbao -> Geneva
Total Travel Time: 5700
Total Cost: 26.49
visited cities {'Bordeaux'}
interest of cities array [np.float64(0.6901567984925614)]
Route: Bordeaux -> Geneva
Total Travel Time: 4800
Total Cost: 37.35
visited cities {'Cologne'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Cologne -> Manchester
Total Travel Time: 5700
Total Cost: 33.39
visited cities {'Naples', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.6682142268493704)]
Route: Naples -> Milan -> Toulouse
Total Travel Time: 10800
Total Cost: 39.55
visited cities {'Paris', 'Marseille'}
interest of cities array [np.float64(0.6813768937556641), np.float64(0.7282786757940397)]
Route: Paris -> Marseille -> Luxemburg
Total Travel Time: 10800
Total Cost: 34.08
visited cities {'Venice'}
interest of cities array [np.float64(0.740175301943447)]
Route: Venice -> Stockholm
Total Travel Time: 9600
Total Cost: 41.99
visited cities {'Krakow'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Krakow -> Madrid
Total Travel Time: 12900
Total Cost: 31.8626
visited cities {'Trieste'}
interest of cities array [np.float64(0.6027765351066747)]
Route: Trieste -> Cagliari
Total Travel Time: 5400
Total Cost: 34.09
visited cities {'Sevilla', 'Rabat'}
interest of cities array [np.float64(0.6680028776021347), np.float64(0.7015896071732729)]
Route: Rabat -> Sevilla -> Dublin
Total Travel Time: 14100
Total Cost: 41.1814
visited cities {'Luxemburg', 'London'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.6805771109268431)]
Route: Luxemburg -> London -> Bologna
Total Travel Time: 12000
Total Cost: 40.3065
visited cities {'Sofia'}
interest of cities array [np.float64(0.769412325825045)]
Route: Sofia -> Vienna
Total Travel Time: 5700
Total Cost: 41.99
visited cities {'Dresden'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Dresden -> London
Total Travel Time: 6900
Total Cost: 38.99
visited cities {'Kosice'}
interest of cities array [np.float64(0.7434914632787466)]
Route: Kosice -> Prague
Total Travel Time: 4500
Total Cost: 48.99
visited cities {'Tallinn', 'Dublin'}
interest of cities array [np.float64(0.7015896071732729), np.float64(0.8307827616237295)]
Route: Tallinn -> Dublin -> London
Total Travel Time: 15600
Total Cost: 43.980000000000004
visited cities {'Madrid', 'Eindhoven'}
interest of cities array [np.float64(0.7580703794097986), np.float64(0.6813768937556641)]
Route: Eindhoven -> Madrid -> Marseille
Total Travel Time: 15300
Total Cost: 48.67
visited cities {'London', 'Dublin'}
interest of cities array [np.float64(0.8307827616237295), np.float64(0.8317101715588673)]
Route: Dublin -> London -> Paris
Total Travel Time: 8700
Total Cost: 48.300000000000004
visited cities {'Cagliari'}
interest of cities array [np.float64(0.7580703794097986)]
Route: Cagliari -> Madrid
Total Travel Time: 8100
Total Cost: 43.99
visited cities {'Riga'}
interest of cities array [np.float64(0.769412325825045)]
Route: Riga -> Vienna
Total Travel Time: 7200
Total Cost: 44.99
visited cities {'Lisbon'}
interest of cities array [np.float64(0.6817187195894088)]
Route: Lisbon -> Manchester
Total Travel Time: 10800
Total Cost: 49.49
visited cities {'Budapest'}
interest of cities array [np.float64(0.589158597141107)]
Route: Budapest -> Sofia
Total Travel Time: 4800
Total Cost: 41.787
visited cities {'Ancona'}
interest of cities array []
Route: Ancona
Total Travel Time: 0
Total Cost: 0
visited cities {'Sevilla', 'Rabat'}
interest of cities array [np.float64(0.6680028776021347), np.float64(0.7015896071732729)]
Route: Rabat -> Sevilla -> Dublin
Total Travel Time: 14100
Total Cost: 41.1814
visited cities {'Cagliari', 'Bologna'}
interest of cities array [np.float64(0.6027765351066747), np.float64(0.7390652078701349)]
Route: Bologna -> Cagliari -> Milan
Total Travel Time: 10500
Total Cost: 47.72
visited cities {'Katowice'}
interest of cities array [np.float64(0.7327228082131961)]
Route: Katowice -> Athens
Total Travel Time: 8400
Total Cost: 49.5242
visited cities {'Bucharest'}
interest of cities array [np.float64(0.8307827616237295)]
Route: Bucharest -> London
Total Travel Time: 12300
Total Cost: 34.79
visited cities {'Kosice'}
interest of cities array [np.float64(0.7434914632787466)]
Route: Kosice -> Prague
Total Travel Time: 4500
Total Cost: 48.99
visited cities {'Poznan', 'Milan'}
interest of cities array [np.float64(0.7390652078701349), np.float64(0.6682142268493704)]
Route: Poznan -> Milan -> Toulouse
Total Travel Time: 11700
Total Cost: 39.9518
visited cities {'Ancona'}
interest of cities array []
Route: Ancona
Total Travel Time: 0
Total Cost: 0